extends layout

block content
  h1= title
  
  div(class = "container-fluid")
      div(class = 'row')
            -
                let helicopter = [
                    {
                        "company": "Air Greenland",
                        "headquarters": "Nuussuaq",
                        "established_year": "1960"
                    },{
                        "company": "Air Harrods",
                        "headquarters": "London",
                        "established_year": "1996"
                    },
                    {
                        "company": "Bristow Helicopters",
                        "headquarters": "Houston",
                        "established_year": "1955"
                    }
                ]
            each heli in helicopter
                div(class= "col-sm-2") #{heli.company}
                div(class= "col-sm-2") #{heli.headquarters}
                div(class= "col-sm-2") #{heli.established_year}