extends layout

block content
  h1= title
  
  div(class = "container-fluid")
      div(class = 'row')
          -
            let vegetables = {
                {
                    "company": "Air Greenland",
                    "headquarters": "",
                    "established year": ""
                },{
                    "company": "",
                    "headquarters": "",
                    "established date": ""
                },
                {
                    "company": "",
                    "headquarters": "",
                    "established date": ""
                }
            }