extends layout

block content
  h1= title
  
  div(class = "container-fluid")
      div(class = 'row')
          -
            let vegetables = {
                {
                    "company": "",
                    "": "",
                    "established date":
                },{

                }
            }